*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: #060AB2;
    display: flex;
 
}

.memory-game {
    width:640px;
    height:640px;
    perspective:1000px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    border:2px solid lime;
}

.memory-card {
    width:calc(25% - 10px);
    height:calc(33.333% - 10px);
    position: relative;
    transform-style:preserve-3d;
    transition: transform .5s;
    margin:5px;
    transform: scale(1);
    
}
.memory-card:active {
    transform: scale(.97);
    transition: transform .2s;
}

.memory-card.flip{
    transform:rotateY(180deg);
}

.front-face,
.back-face {
    width:100%;
    height:100%;
    padding:20px;
    position:absolute;
    border:2px solid deeppink;
    backface-visibility:hidden; 
}


.front-face{
    transform: rotateY(180deg); 
                                    
                                    
}

/*card flip logic
1) by default the front of the elements are facing the cam 
2) in HTML note that front-face is written before back-face. this means that back-face are stacked
on top of each other, with back-face on top of front face. The latter element will be stacked above the earlier one.
They are stacked because they have the same position (in this case being Absolute)
3) When the card flips, both cards flips and now the back of both elements are facing the camera
4) due to backface-visibility:hidden, both are not invisible
5) we add this to invert the front-face card to make the front of it show. now it becomes visible::after.front-face{
    transform: rotateY(180deg); */


img{
    width:100px;
}

